body {
   background-image: url(back.jpg);
    font-family: "Times New Roman", Times, serif,red;
    margin: 50px;
   flex-wrap: wrap;
  }
  

 

  .header{
 background-color: rgb(51, 49, 49);
 align-items: center;
 padding: 50px;
 text-align: center rgb(214, 181, 181);
  }


  .product-list {
    display: flex;
    list-style: none;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(73, 78, 73);
    padding: 10px;
    width: 400px;
  }
  
  .product img {
    max-width: 100%;
   border-radius: 10px;
  }

  .footer{
    background-color: rgb(8, 233, 241);
    align-items: center;
    padding: 50px;
    text-align: center;
     }
  
  
  